.text-Acme{
    font-family: 'Acme', sans-serif;
}
.text-Acme-Azul{
    font-family: 'Acme', sans-serif;
    color: #0d6efd;



}
.text-Bebas{
    font-family: 'Bebas Neue', cursive;
  

}
.text-Bebas-Azul{
    font-family: 'Bebas Neue', cursive;
    color: #0d6efd;

}

.text-Azul{
    color:#0d6efd;
}

.text-Teko{
    font-family: 'Teko', sans-serif;
  }